@font-face{
    font-family: bespoke ;
    src: url(fonts/Bespoke.ttf);
}
@font-face{
    font-family: chillax ;
    src: url(fonts/Chillax.ttf);
}
@font-face{
    font-family: clash ;
    src: url(fonts/clash.ttf);
}

:root{
    --box-shadow:0px 15px 25px rgba(0,0,0,0.08) ;
    --transition: all 0.5s ease;
}

h2{
    font-family: chillax;
}
a{
    text-decoration: none;
    font-family: bespoke;
}
h2,h3,h4,h5,h6{
    font-family: chillax;
    font-weight: 700;
}


.line{
    width: 100px;
    height: 5px;
    margin: auto;
    background-color: #0dcaf0;
}

/* .image-zoom{
    position: relative;
    overflow: hidden;
}
.image-zoom-warpper{
    position: relative;
    overflow: hidden;
}

.image-zoom-warpper img{
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-warpper{
    transform: scale(1.1);
} */
.image-zoom {
    position: relative;
    overflow: hidden;
}

.image-zoom-warpper {
    position: relative;
}

.image-zoom-warpper img {
    transition: transform 0.5s ease; /* Smooth transition */
    width: 100%; /* Ensures the image takes full width of the container */
    height: 100%; /* Maintain the aspect ratio */
}

.image-zoom:hover .image-zoom-warpper img {
    transform: scale(1.1); /* Apply the zoom on hover */
}


.navbar-nav .nav-link{
    color: #fffaff;
    
    
}
.navbar-nav .nav-item{
    font-weight:700;
    padding-left: 20px;
}

.iconbox{
    
    height: 80px;
    width: 115px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:rgba(13, 202, 240,0.2) ;
    color: #0dcaf0;
    font-size: 34px;
}

.section-padding{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

.theme-shadow{
    box-shadow: var(--box-shadow);

}
.service{
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after{
    content: "";
    height: 40px;
    width: 40px;
    background-color:rgba(13, 202, 240,0.2) ;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after{
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #0dcaf0;
}

.service:hover h5,
.service:hover p{
    color: #fffaff;
}

.service:hover .iconbox{
    background-color:rgba(248, 248, 248, 0.3) ;
    color: white;
    
}



#counter{
    background:linear-gradient(rgb(13, 202, 240,0.5),rgb(13, 202, 240,0.5) ), url(/img/wallpaperflare-cropped\(1\).jpg);
    background-size:cover ;
    background-position:center ;
    
}

.portfolio-item .iconbox{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background-color: rgba(13, 202, 240,0.5);
    opacity: 0 ;
    transition: var(--transition);
}

.portfolio-item:hover .iconbox{
    top: 50%;
    opacity: 1;
}

.review-head{
    position: relative;
}

.review-head::after{
    content:"";
    width: 28px;
    height: 28px;
    position:absolute;
    bottom: -14px;
    left: 20px;
    background-color:white;
    transform: rotate(45deg);
}

.review small{
    font-weight: 600;
    text-transform: uppercase;
    color: #0dcaf0  ;
}
.name-box1{
    border-radius: 
    50% 10% 50% 10%/
    10% 50% 10% 50%;
}
.name-box2{
    border-radius: 
    10% 50% 10% 50%/
    50% 10% 50% 10%;
}

